.privacy-modal {
  position: relative;
}

.privacy-modal p {
  font-size: 1rem;
  line-height: 1.5;
}

.privacy-modal .modal-content {
  max-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}

.privacy-modal .modal-body {
  flex: 1;
  overflow-y: auto;
}

.privacy-modal .modal-footer {
  flex: 0 0 auto;
  padding: 10px;
  background-color: #ccc;
}

.privacy-category {
  max-width: 800px;
}

.privacy-info {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.privacy-info ul li {
  margin-bottom: 1rem;
}

.privacy-info ul li p {
  margin-bottom: 0;
}

.privacy-category > .privacy-info {
  padding-left: 30px;
}

.privacy-category-head {
  position: relative;
}

.privacy-category-head label,
.privacy-item-head label {
  font-size: 1.1rem;
  font-weight: bold;
}

.privacy-checkbox {
  display: inline-block;
  width: 30px;
}

.privacy-info-icon {
  vertical-align: middle;
  cursor: pointer;
}

.privacy-info-icon .icon {
  width: 16px;
  height: 16px;
}

.privacy-info-toggle {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 1;
  transition: transform 0.5s ease-in-out;
}

.privacy-item.privacy-item--show .privacy-info-toggle {
  transform: rotate(180deg);
}

.privacy-info-arrow {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
}

.privacy-item-list {
  list-style-type: none;
  padding: 0 0 0 30px;
}

.privacy-item:before {
  display: none;
}

.privacy-modal .btn.close .icon {
  display: inline-block;
  width: 1.375rem;
  height: 1.375rem;
  flex: 0 0 1.375rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
