{% load static %}
<script src="{% static 'django_privacy_mgmt/js/libs/js-cookie-3.0.5.js' %}"></script>
<script src="{% static 'django_privacy_mgmt/js/privacy_mgmt.js' %}"></script>
{{ tracking_items|json_script:"tracking_items" }}
