{% load static sekizai_tags i18n %}
{% addtoblock "css" %}
<link rel="stylesheet"
      href="{% static 'django_privacy_mgmt/css/privacy_mgmt.css' %}" />
{% endaddtoblock %}
<div class="modal fade cookie-modal"
     id="privacysettings"
     tabindex="-1"
     role="dialog"
     aria-labelledby="privacylabel">
    <div class="modal-dialog privacy-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <h1 class="heading-plugin--h3 mb-4">{% trans 'Cookies in general' %}</h1>
                    <button type="button"
                            class="btn btn-link close"
                            data-dismiss="modal"
                            aria-label="{% trans 'Close' %}">
                        {% trans 'Close' %}
                        <span aria-hidden="true" class="btn btn-danger close-icon">
                            <svg class="icon icon-lg" viewBox="0 0 32 32">
                                <path d="M32 25.75c0 0.718-0.25 1.33-0.754 1.832l-3.664 3.664c-0.502 0.502-1.114 0.754-1.832 0.754s-1.328-0.252-1.832-0.754l-7.918-7.92-7.918 7.92c-0.504 0.502-1.114 0.754-1.832 0.754s-1.33-0.252-1.832-0.754l-3.664-3.664c-0.504-0.502-0.754-1.114-0.754-1.832 0-0.716 0.25-1.328 0.754-1.83l7.92-7.92-7.92-7.92c-0.504-0.502-0.754-1.114-0.754-1.83 0-0.718 0.25-1.33 0.754-1.832l3.664-3.664c0.502-0.502 1.114-0.754 1.832-0.754s1.328 0.252 1.832 0.754l7.918 7.92 7.918-7.92c0.504-0.502 1.114-0.754 1.832-0.754s1.33 0.252 1.832 0.754l3.664 3.664c0.504 0.502 0.754 1.114 0.754 1.832 0 0.716-0.25 1.328-0.754 1.83l-7.92 7.92 7.92 7.92c0.504 0.5 0.754 1.112 0.754 1.83z">
                                </path>
                            </svg>
                        </span>
                    </button>
                </div>
                <div>{{ privacy_settings.modal_description|safe }}</div>
                {% for category in selectable_items %}
                    <div class="privacy-category">
                        <div class="privacy-category-head">
                            <label>
                                <span class="privacy-checkbox">
                                    <input type="checkbox"
                                           data-js="privacy-check"
                                           {% if category.category == 'ESSENTIAL' %}disabled="disabled"{% endif %}
                                           name="{{ category.category }}" />
                                </span>{{ category.name }}
                            </label>
                            <span class="privacy-info-icon"
                                  data-js="privacy-info-toggle"
                                  data-target="info-{{ category.category }}">
                                <svg class="icon" viewBox="0 0 32 32">
                                    <path d="M32 16c0 2.902-0.714 5.578-2.146 8.030-1.428 2.452-3.372 4.394-5.82 5.824-2.454 1.432-5.13 2.146-8.036 2.146-2.9 0-5.578-0.714-8.030-2.146-2.454-1.43-4.39-3.374-5.824-5.824-1.428-2.452-2.144-5.126-2.144-8.030s0.716-5.58 2.144-8.032c1.434-2.452 3.372-4.392 5.824-5.822 2.452-1.432 5.128-2.148 8.030-2.148 2.904 0 5.582 0.716 8.036 2.148 2.45 1.43 4.392 3.372 5.82 5.822 1.432 2.452 2.146 5.128 2.146 8.032zM18.666 7.332v-3.334c0-0.196-0.060-0.354-0.188-0.478-0.124-0.124-0.284-0.188-0.478-0.188h-4c-0.194 0-0.354 0.062-0.48 0.188-0.124 0.124-0.186 0.284-0.186 0.478v3.334c0 0.196 0.060 0.356 0.186 0.48s0.288 0.186 0.48 0.186h4c0.196 0 0.354-0.062 0.478-0.186 0.128-0.124 0.188-0.284 0.188-0.48zM21.334 25.998v-3.332c0-0.196-0.064-0.354-0.188-0.478-0.124-0.126-0.286-0.19-0.48-0.19h-2v-10.664c0-0.196-0.060-0.358-0.188-0.48-0.124-0.124-0.284-0.188-0.478-0.188h-6.668c-0.194 0-0.352 0.062-0.478 0.188-0.124 0.124-0.186 0.286-0.186 0.48v3.332c0 0.196 0.062 0.354 0.186 0.478 0.126 0.126 0.286 0.19 0.478 0.19h2.002v6.664h-2.002c-0.194 0-0.352 0.062-0.478 0.19-0.124 0.124-0.186 0.284-0.186 0.478v3.332c0 0.196 0.062 0.356 0.186 0.48 0.126 0.124 0.286 0.188 0.478 0.188h9.334c0.196 0 0.356-0.062 0.48-0.188 0.124-0.124 0.188-0.284 0.188-0.48z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                        <div class="privacy-info" id="info-{{ category.category }}">{{ category.description }}</div>
                        <ul class="privacy-item-list">
                            {% for item in category.items %}
                                <li class="privacy-item">
                                    <div class="privacy-item-head">
                                        <label>
                                            <input type="checkbox"
                                                   data-js="privacy-check"
                                                   data-category="{{ category.category }}"
                                                   {% if category.category == 'ESSENTIAL' %}disabled="disabled"{% endif %}
                                                   name="{{ item.id }}" />
                                            {{ item.name }}
                                        </label>
                                        {% comment %} This is LWL specific {% endcomment %}
                                        <span class="privacy-info-toggle"
                                              data-js="privacy-info-toggle"
                                              data-target="info-{{ item.id }}">
                                            <span class="privacy-info-arrow"></span>
                                        </span>
                                    </div>
                                    <div class="privacy-info" id="info-{{ item.id }}">
                                        {% if item.description %}
                                            <p>{{ item.description }}</p>
                                        {% endif %}
                                        {% if item.cookies %}
                                            <ul>
                                                {% for cookie in item.cookies.all %}
                                                    <li>
                                                        <p>
                                                            <strong>{{ cookie.name }}</strong>
                                                        </p>
                                                        {% if cookie.description %}<p>{{ cookie.description|default:"" }}</p>{% endif %}
                                                        {% if cookie.lifetime %}
                                                            <p>{% trans 'Lifetime' %}: {{ cookie.lifetime }}</p>
                                                        {% endif %}
                                                        {% if cookie.domain %}
                                                            <p>{% trans 'Domain' %}: {{ cookie.domain }}</p>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-js="privacy-save-settings">{% trans 'Save selection' %}</button>
                &nbsp;
                <button type="button" class="btn btn-primary" data-js="privacy-reject-all">{% trans 'Reject all' %}</button>
                &nbsp;
                <button type="button" class="btn btn-primary" data-js="privacy-accept-all">{% trans 'Accept all' %}</button>
            </div>
        </div>
    </div>
</div>
